{% extends 'admin.html.twig' %}

{% block title %}Mise a jour de la catégorie #{{ categorie }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 mx-auto p-4">
        <h1>Mise a jour de la catégorie #{{ categorie }}</h1>
        {{ include('admin/categorie/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
    </div>
</div>
{% endblock %}
