<div class="mb-3 border radius p-3">
	{{ form_row(form.name) }}
	{{ form_row(form.documentFile) }}
	<button type="button" class="btn-remove btn btn-outline-danger btn-sm radius">
		<i class="fa fa-trash"></i> Supprimer
	</button>
</div>
