{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ type }} alert-dismissible fade show rounded mb-4 radius">
			<strong class="text-{{ type }} alert-title">
				{% if type == 'danger' %}
					<i class="fa fa-exclamation-triangle"></i> Echec!
				{% elseif type == 'warning' %}
					<i class="fa fa-info-circle"></i>  Attention!
				{% elseif type == 'info' %}
					<i class="fa fa-info-circle"></i>
				{% elseif type == 'success' %}
					<i class="fa fa-check-circle"></i> Succès!
				{% endif %}
			</strong>
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}
{% endfor %}
