{% extends 'auth.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}
{% block titre %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <p>
        S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="mb-3">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou</p>
    <a href="{{ path('app_forgot_password_request') }}" class="btn btn-primary w-100 radius-btn p-3">Ressayer à nouveau</a>
{% endblock %}