{% extends 'demande.html.twig' %}

{% block titre %}Choisissez la
	<span class="text-primary">formule</span>
	qui vous correspond le mieux
{% endblock %}
{% block col %}12{% endblock %}

{% block body %}
	<div class="row">
		<!-- Pricing Block -->
		{% for tarification in tarifications %}
			<div class="col-sm-4">
				<a href="{{path('demande_formules', {reponse: tarification.id})}}">
					{% include "demande/composants/_tarification_card.html.twig" %}
				</a>
			</div>
		{% else %}
			<div class="col-12">
				<p class="text-center">Aucune formule pour {{demande.demarche}} <strong>{{demande.statut}}</strong></p>
			</div>
		{% endfor %}
		<!-- Pricing Block -->
	</div>
	{% if demande.tarification is not empty %}
		<div class="text-center pt-5">
			<a href="{{path('demande_recapitulatif')}}" class="theme-btn btn-style-one">
				<span class="btn-title">Continuez
					<i class="fa fa-long-arrow-right"></i>
				</span>
			</a>
		</div>
	{% endif %}
{% endblock %}
