{% extends 'demande.html.twig' %}

{% block titre %}Quel sera le nom de votre nouvelle <span class="text-primary">société</span>?{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-sm-6 mx-auto">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="text-center pt-4">
				<button class="theme-btn btn-style-one">
					<span class="btn-title">{{ button_label|default('Continuez') }} <i class="fa fa-long-arrow-right"></i></span>
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
