{% extends "mails.html.twig" %}

{% block body %}

	<p>Cher(e) {{app.user}}</p>

	<p>Merci d'avoir pris le temps de nous écrire. Votre message a bien été reçu et est actuellement en cours de traitement par notre équipe.</p>

	<p>Sujet : Ma question porte sur <strong>{{ sujet }}</strong></p>
	<p>Démarche : Ma démarche porte sur <strong>{{ demarche }}</strong></p>

	<p>Nous nous efforçons de répondre à toutes les demandes dans les plus brefs délais. Vous recevrez une réponse dans un bref délai.</p>

	<p>En attendant, n'hésitez pas à consulter notre [FAQ/centre d'aide] pour peut-être trouver une réponse immédiate à votre question.</p>

	<p>Merci pour votre patience et votre compréhension.</p>

	<p>Cordialement,</p>

	<p>L’équipe
		<strong>{{appName}}</strong>
	</p>

{% endblock %}
