<div class="rounded card mb-3">
    <div class="row card-body">
        <div class="col-sm-6 mx-auto">{{ form_row(form.imageFile) }}</div>
    </div>
    <div class="text-end card-footer">
        <button type="button" class="btn-remove btn btn-light btn-sm text-danger">
            <i class="fa fa-trash-alt"></i> Retirer
        </button>
    </div>
</div>