<div class="header border-bottom">
	<div class="header-left">
		<div class="menu-icon dw dw-menu"></div>
	</div>
	<div class="header-right">
		<div class="user-info-dropdown">
			<div class="dropdown">
				<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
					<span class="user-icon">
						<i class="dw dw-user"></i>
					</span>
					<span class="user-name">{{ app.user }}</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
					<a class="dropdown-item" href="{{path('app_redirection')}}">
						<i class="dw dw-user"></i>
						Espace {{app.user.compte}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
