{{ form_start(dossierForm) }}
{{ form_widget(dossierForm) }}
<button type="submit" class="theme-btn btn-style-one radius-btn">
	<span class="btn-title">
		Envoyer la notification <i class="fa fa-paper-plane"></i>
	</span>
</button>
{{ form_end(dossierForm) }}
