<div class="container-xxl py-5">
	<div class="container">
		{% if app.request.attributes.get('_route') == 'realisations' %}
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('accueil') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Nos réalisations</li>
				</ol>
			</nav>
		{% endif %}
		<div class="row align-items-end mb-5">
			<div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
				<div class="border-start border-5 border-primary ps-4">
					<h6 class="text-body text-uppercase mb-2">Nos réalisations</h6>
					<h1 class="display-6 mb-0">
						Solutions de construction et de rénovation
					</h1>
				</div>
			</div>
			<div class="col-lg-4 text-lg-end wow fadeInUp" data-wow-delay="0.3s">
				<a class="btn btn-primary py-3 px-5" href="{{ path('contact') }}">Obtenir un devis</a>
			</div>
		</div>
		<div class="row g-4 justify-content-center">
			{% for projet in projets() %}
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
					{% include "realisation/composants/_card.html.twig" %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
