<section class="ftco-section">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 d-flex ftco-animate">
				<div class="img img-about align-self-stretch" style="background-image: url({{ asset('img/about.png') }}); width: 100%;"></div>
			</div>
			<div class="col-md-6 pl-md-5 ftco-animate">
				<h2 class="mb-4">Historique de Panval-Groupe</h2>
				<p>Érigée il y a maintenant une demi-décennie, Panval-groupe s'illustre comme un phare dans le domaine
																				des formations professionnelles d'excellence. Notre épopée entrepreneuriale se dévoile à travers une
																				kyrielle d'exemples tant professionnels que actionnairels, témoignant de notre parcours exceptionnel.</p>
				<p>Au fil des années, nous avons façonné les compétences des cadres émérites d'entreprises, participant
															ainsi activement à la montée en puissance du leadership professionnel au Congo Brazzaville. Citons, par
															exemple, la formation pointue dispensée à des juristes d'entreprise qui, armés de notre savoir-faire, ont
															contribué à élever les standards du secteur juridique local.</p>
				<p>Notre empreinte s'étend bien au-delà des salles de formation. Nous avons tissé des liens durables avec
										des entreprises renommées, lesquelles ont bénéficié de notre expertise pour dynamiser leur capital humain. Les témoignages élogieux de nos partenaires, soulignant l'impact tangible de nos programmes
										sur leurs performances, sont autant de jalons attestant de notre efficacité.
				</p>
				<p>Au-delà du professionnel, notre engagement envers l'épanouissement actionnairel des apprenants se
										manifeste par des approches pédagogiques novatrices et des programmes sur mesure. Chaque succès
										story individuelle, chaque carrière propulsée vers de nouveaux sommets, constitue pour nous la plus belle
										récompense.
				</p>
				<p>Ainsi, au cœur de notre aventure, la crédibilité s'est forgée à travers des partenariats fructueux, en autres
										MTN CONGO, AIRTEL CONGO, BLACK MUTUAL, BLACK PILLARS CAPITAL, BILLENUIM, AG
										GROUPE… des réussites D’entreprises, individuelles et une constante quête d'excellence.
					<strong>{{ appName }}</strong>, bien plus qu'une simple entreprise de formation, incarne une véritable ode à l'ascension
												professionnelle au Congo Brazzaville</p>
			</div>
		</div>
	</div>
</section>
