<div class="rounded card radius border mb-3">
    <div class="row card-body">
        <div class="col-sm-6">{{ form_row(form.name) }}</div>
        <div class="col-sm-6">{{ form_row(form.icon) }}</div>
        <div class="col-sm-12">{{ form_row(form.lien) }}</div>
    </div>
    <div class="text-end card-footer">
        <button type="button" class="btn-remove btn btn-light btn-sm text-danger">
            <i class="fa fa-trash-alt"></i> Retiter
        </button>
    </div>
</div>