<div class="rounded card radius mb-3">
    <div class="row card-body">
        <div class="col-sm-6">{{ form_row(form.name) }}</div>
        <div class="col-sm-4">{{ form_row(form.pourcentage) }}</div>
        <div class="col-sm-2 justify-centent-end">{{ form_row(form.bgColor) }}</div>
    </div>
    <div class="text-end card-footer">
        <button type="button" class="btn-remove btn btn-light btn-sm text-danger">
            <i class="fa fa-trash-alt"></i> Retirer
        </button>
    </div>
</div>