{% extends 'espace.html.twig' %}

{% block title %}Mes démarches ({{ demandes.getTotalItemCount }}){% endblock %}
{% block titre %}Mes démarches ({{ demandes.getTotalItemCount }}){% endblock %}
{% block right %}
<a href="{{path('demande_create', {requete: 1})}}" class="theme-btn btn-style-one radius-btn">
			<span class="btn-title">Nouvelle demarche
				<i class="fa fa-long-arrow-right"></i>
			</span>
		</a>
{% endblock %}

{% block body %}

	{% include "user/demande/_data.html.twig" %}

{% endblock %}
